<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../../public/menu/menuCliente.html') %>

    <h1>Carrinho</h1>

    <% if (erros) { %>
        <ul>
            <% for (let i = 0; i < erros.length; i++) { %>
                <li><%= erros[i].msg %></li>
            <% } %>
        </ul>
    <% } %>

    <table>
        <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
        <% carrinho.forEach(carrinho => { %>
            <tr>
                <td><%= carrinho.descricao %></td>
                <td><%= carrinho.preco.toLocaleString('pt-Br', {style: 'currency', currency: 'BRL'}) %></td>
                <td><%= carrinho.quantidade %></td>
                <td>
                    <a href="/produto/render_alterar_quantidade/<%= carrinho.id_produto %>">alterar quantidade</a>
                    <a href="/usuario/excluir_pedido/<%= carrinho.id %>">excluir</a>
                </td>
            </tr>
        <% }) %>
       
    </table>
    <h3>Valor total: <%= valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></h3>
    <a href="/usuario/finalizar_pedido">Finalizar Pedido</a>
</body>
</html>

